github "DaveWoodCom/XCGLogger"
github "phimage/Prephirences"
github "Moya/Moya"
github "Alamofire/Alamofire"
github "antitypical/Result"
github "SwiftyJSON/SwiftyJSON"
github "dennisweissmann/DeviceKit"
